@import url('http://fonts.cdnfonts.com/css/gotham-pro');

body{
	background-color: #222831;
	color: #FFFFFF;
	font-family: 'Gotham Pro', sans-serif;
}

.logo{
	padding-left: auto;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	font-size: 36;
	margin: 16px;
}

.right_sidebar{
	width: 320px; 
	background-color: #2C323B;
	margin-bottom: 2px;
}

.sidebar_header{
	font-size: 24;
	height: 48px;
	align-items: center;
  	justify-content: center;
	display: flex;
}

.left_sidebar_button{
	box-sizing: border-box;
	width: 72px;
	height: 72px;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	margin-bottom: 2px;
}

.layers_button{
	box-sizing: border-box;
	width: 78px;
	height: 42px;
	display: table-cell;
	vertical-align: middle;
}

.layer_plate{
	box-sizing: border-box;
	height: 56px;
	background-color: #393E46;
	display: flex;
	margin-bottom: 2px;
	align-items: center;
  	justify-content: space-around;
}

.layers_scroll {
    width: 100%;
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.button {
	background-color: #393E46;
}

.button:hover {
	background-color: #494E56;
}


.selected{
	border: 2px solid #FFFFFF;
}

.thumbnail{
	background: url(checkers.png);
	width: 48;
	height: 36;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #494E56;
}

.color_picker::-webkit-slider-thumb {
  border: 1px solid #000000;
}

.color_picker::-moz-range-thumb {
  border: 1px solid #000000;
}

.color_picker {
  position:  relative; 
  z-index:1; 
  left: -2px; 
  top: -2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #FFD369;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #FFD369;
  cursor: pointer;
}

.check_container {
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
  background-color: #FFD369;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 5px;
  border: solid #393E46;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
