.tool_button{
	width: 72px;
	height: 72px;
	background-color: #5099f4;
	display: table-cell;
	vertical-align: middle;
}

.layers_button{
	width: 52px;
	height: 42px;
	background-color: #5099f4;
	display: table-cell;
	vertical-align: middle;
}

.layer_plate{
	width: 212px;
	height: 56px;
	display: block;
	background-color: #5099f4;
	display: table-cell;
	vertical-align: middle;
	border-bottom: 40px;
	text-align: middle;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
}

