@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('GothamPro.eot');
  src: url('GothamPro.eot?#iefix') format('embedded-opentype'),
  url('GothamPro.woff') format('woff'),
  url('GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
	background-color: #222831;
	color: #FFFFFF;
	font-family: 'Gotham Pro Regular', sans-serif;
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none; 
}

canvas{
  background: url(checkers.png);
  image-rendering: optimizeSpeed;            
  image-rendering: -moz-crisp-edges;         
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;           
  image-rendering: pixelated;                
  -ms-interpolation-mode: nearest-neighbor;  
}

.logo{
	padding-left: auto;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	font-size: 36;
	margin: 16px;
}

.rightSidebar{
	width: 320px; 
	background-color: #2C323B;
	margin-bottom: 2px;
}

.sidebarHeader{
	font-size: 24;
	height: 48px;
	align-items: center;
  	justify-content: center;
	display: flex;
}

.leftSidebarButton{
	box-sizing: border-box;
	width: 72px;
	height: 72px;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	margin-bottom: 2px;
}

.layersButton{
	box-sizing: border-box;
	width: 78px;
	height: 42px;
	display: table-cell;
	vertical-align: middle;
}

.layerPlate{
	box-sizing: border-box;
	height: 46px;
	background-color: #393E46;
	display: flex;
	margin-bottom: 2px;
	align-items: center;
  	justify-content: space-around;
}

.layersScroll {
    width: 100%;
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.button {
	background-color: #393E46;
  cursor: pointer;
}

.button:hover {
	background-color: #494E56;
}


.selected{
	border: 2px solid #FFFFFF;
}

.thumbnail{
	background: url(checkers.png);
	width: 48;
	height: 36;
}

.popup{
  position: absolute;
  z-index: 6;
  left: auto;
  top: 45%;
  transform-origin: bottom;
  -ms-transform: translateY(-50%) scale(1.4);
  transform: translateY(-50%) scale(1.4);
  width: 448px;
  height: 256px;
  background-color: #222831;
  outline: 1px solid;
  outline-color: #FFF;
  display: inline-flex;
  justify-content:space-between;
}

.mute{
  position: absolute;
  z-index: 5;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #00000056;
  outline-color: #FFF;
  display: flex;
  justify-content: center;
}

input[type=range] {
    -webkit-appearance: none;
    height: 12px;
    background-color: #494E56;
}

input[type=number] {
    -webkit-appearance: none;
    height: 20px;
    width: 40px;
    color: #FFF;
    background-color: #494E56;
    -moz-appearance: textfield;
    font-family: 'Gotham Pro Regular';
    border: 0px;
}

input[type=textfield] {
    -webkit-appearance: none;
    height: 20px;
    color: #FFF;
    background-color: #494E56;
    font-family: 'Gotham Pro Regular';
    border: 0px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.colorPicker::-webkit-slider-thumb {
  border: 1px solid #000000;
}

.colorPicker::-moz-range-thumb {
  border: 1px solid #000000;
}

.colorPicker {
  position:  relative; 
  z-index:1; 
  left: -2px; 
  top: -2px;
}

.unavailable {
  background-color: #3E3E3E;
  filter: brightness(75%);
}

.unavailable:hover {
  background-color: #3E3E3E;
  filter: brightness(75%);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #FFD369;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #FFD369;
  border: none;
  border-radius: 0px; 
  cursor: pointer;
  margin-top: 0;
}

.checkContainer {
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.circleSample {
  height: 2px;
  width: 2px;
  background-color: #FFD369;
  border-radius: 50%;
  display: inline-block;
}

.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  background-color: #FFD369;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 5px;
  border: solid #393E46;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

select {
  background-color: #494E56;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 14;
  color: #FFFFFF;
  text-align: center;
  line-height: inherit;
  border-radius: 0px;
}

select:focus {
  border: none;
}

select:not {
  border: none;
}

option:checked {
    box-shadow: 0 0 10px 100px #ffb7b7 inset;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #494E56;
}

::-webkit-scrollbar-thumb {
  background-color: #FFD369;
}